ALLOWED_ORIGIN=https://yourdomain.com
COOKIES_DOMAIN=.yourdomain.com
DATABASE_URL=postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
PORT=8080